body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #9350bf;
  background: linear-gradient(
    90deg,
    rgba(147, 80, 191, 1) 11%,
    rgba(161, 77, 77, 1) 51%,
    rgba(168, 131, 79, 1) 100%
  );
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.container {
  padding: 4%;
  width: 90%;
  max-width: 500px;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  max-height: 90vh;
  overflow-y: auto;
}

input {
  padding: 5px;
  margin: 5px;
  min-width: 35vh;
}

h1 {
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-size: 60px;
}
h3,
p {
  font-family: monospace;
  font-size: 15px;
}

#btnGenerateToken,
#btnVoltarLogin.link-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 60%;
  max-width: 250px;
  margin-top: 15px;
}

#btnGenerateToken:hover::before,
#btnVoltarLogin.link-button:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  z-index: 1;
}

#btnGenerateToken::before,
#btnVoltarLogin.link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.erro {
  color: #f44336;
  margin-top: 10px;
  font-weight: bold;
  display: none;
  font-size: 15px;
}

.info {
  color: #4caf50;
  margin-top: 15px;
  font-weight: bold;
  display: none;
  word-break: break-all;
  font-size: 15px;
}

.token-page {
  background-color: transparent;
}

.token-page button {
  background-color: #ffc107;
}
.token-page button:hover {
  background-color: #ffb300;
}
.token-page .link-button {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
}
.token-page .link-button:hover {
  color: #ddd;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px 20px;
    max-width: 95%;
  }

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  h3,
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  input {
    min-width: unset;
    width: 50%;
    padding: 10px;
    margin: 5px auto;
  }

  #btnGenerateToken,
  #btnVoltarLogin.link-button {
    padding: 12px 20px;
    font-size: 0.8em;
    width: 30%;
    max-width: unset;
    height: 2.5rem;
  }

  .erro,
  .info {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 25px 15px;
    border-radius: 10px;
  }

  h1 {
    font-size: 35px;
  }

  h3,
  p {
    font-size: 13px;
  }

  input {
    width: 50%;
    padding: 4px;
  }

  #btnGenerateToken,
  #btnVoltarLogin.link-button {
    padding: 10px 18px;
    font-size: 1em;
    height: 2.2rem;
  }
}
